<script type="ts">
  import { Card, cardsSearch, Page } from "$lib/api";
  import Section from "$lib/Section.svelte";
  import CardView from "$lib/CardView.svelte";
  import Inspect from "$lib/Inspect.svelte";

  export let query;
  let pageReq: Promise<Page>;
  $: if (query) {
    pageReq = cardsSearch(query);
  }

  let usingTouch = false;
  let inspected: Card | null = null;
</script>

<Section title="Cards">
  <div
    class="cards"
    class:touching={usingTouch}
    on:touchstart={() => (usingTouch = true)}
    on:mouseenter={() => (usingTouch = false)}
  >
    {#if query}
      {#await pageReq then page}
        {#each page.data as card}
          <CardView {card} on:inspect={({ detail }) => (inspected = detail)} />
        {/each}
      {/await}
    {/if}
  </div>
  {#if inspected}
    <Inspect card={inspected} on:exit={() => (inspected = null)} />
  {/if}
</Section>

<style>
  .cards {
    display: grid;
    overflow-y: scroll;
  }
  @media screen and (orientation: portrait) {
    .cards {
      grid-template-columns: 1fr;
    }
    .cards.touching {
      scroll-snap-type: y mandatory;
    }
  }
  @media screen and (orientation: landscape) {
    .cards {
      grid-template-columns: repeat(3, 1fr);
    }
    .cards.touching {
      scroll-snap-type: y proximity;
    }
  }
</style>
