<script type="ts">
  import { createEventDispatcher } from "svelte";
  import { scale, fade } from "svelte/transition";
  import { bestImage, Card } from "$lib/api";
  import { deck } from "$lib/stores";

  const dispatch = createEventDispatcher();

  export let card: Card;
  let face = 0;
  $: hasMultipleFaces = card.card_faces?.length > 0;
  $: img = hasMultipleFaces
    ? bestImage(card.card_faces[face])
    : bestImage(card);

  let menuVisible = false;
  let menuTimeout;

  function toggleMenu() {
    if (menuVisible) {
      clearTimeout(menuTimeout);
      menuVisible = false;
    } else {
      menuVisible = true;
      menuTimeout = setTimeout(() => {
        menuVisible = false;
      }, 3000);
    }
  }

  function nextFace() {
    face = (face + 1) % card.card_faces.length;
  }

  function addCard() {
    deck.add(card);
  }

  function inspect() {
    dispatch("inspect", card);
  }

  let touchHoldTimeout;
  function touchStart() {
    touchHoldTimeout = setTimeout(inspect, 500);
  }
  function touchEnd() {
    if (touchHoldTimeout) {
      clearTimeout(touchHoldTimeout);
    }
  }
</script>

<div class="card no-select" on:touchstart={touchStart} on:touchend={touchEnd}>
  <img class="card-img" src={img} alt={card.name} on:click={toggleMenu} />
  {#if menuVisible}
    <div in:scale out:fade class="menu">
      <div class="menu-item" on:click={addCard}>+</div>
      <div class="menu-item" on:click={inspect}>👁</div>
      {#if hasMultipleFaces}
        <div class="menu-item" on:click={nextFace}>⇌</div>
      {/if}
    </div>
  {/if}
</div>

<style>
  .card {
    object-fit: scale-down;
    scroll-snap-align: center;
    margin: 0.5rem;
    position: relative;
  }
  .card-img {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - var(--title-height) - 2rem);
    object-fit: scale-down;
  }
  .menu {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);

    background-color: var(--secondary-bg);
    border-radius: 0.5rem;
    opacity: 0.95;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 0.25rem;
    padding: 0.5rem;
  }
  .menu-item {
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--secondary-fg);
    background-color: var(--button-bg);
    font-size: 3rem;
    cursor: pointer;
    text-align: center;
  }
</style>
