<script type="ts">
  import { onMount } from "svelte";
  import {
    ShoppingCartFill,
    ClipboardFill,
    EraserFill,
  } from "svelte-remixicon";
  import { deck } from "$lib/stores";
  import Inspect from "$lib/Inspect.svelte";
  import type { Card } from "$lib/api";

  onMount(() => {
    deck.persist("deck", {});
  });

  let inspected: string | null = null;

  $: cost = Object.values($deck)
    .map(({ card, count }) => (parseFloat(card.prices.usd) || 0) * count)
    .reduce((a, b) => a + b, 0)
    .toFixed(2);

  function exportAsMTGA() {
    navigator.clipboard.writeText(
      Object.values($deck)
        .map(({ card, count }) => `${count} ${card.name}`)
        .join("\n")
    );
  }

  async function purchase() {
    let params = new URLSearchParams();
    params.append("productline", "Magic");
    params.append(
      "c",
      Object.values($deck)
        .map(({ card, count }) => `${count} ${card.name}||`)
        .join("")
    );
    window.open(
      `https://www.tcgplayer.com/massentry?${params.toString()}`,
      "_blank"
    );
  }

  function formatEntry(card: Card, count: number): string {
    return `${count}x ${card.name} ${
      card.prices.usd ? (count * parseFloat(card.prices.usd)).toFixed(2) : ""
    }`;
  }

  let touchHoldTimeout;
  function touchStart({ id }: Card) {
    touchHoldTimeout = setTimeout(() => (inspected = id), 500);
  }
  function touchEnd() {
    if (touchHoldTimeout) {
      clearTimeout(touchHoldTimeout);
    }
  }
</script>

<ul class="deck">
  <div class="menu">
    <button on:click={exportAsMTGA}><ClipboardFill /></button>
    <button on:click={purchase}><ShoppingCartFill /> ${cost}</button>
    <button on:click={() => deck.set({})}><EraserFill /></button>
  </div>
  {#each Object.values($deck) as { card, count }}
    <li
      class="entry"
      on:click={() => (inspected = card.id)}
      on:touchstart={() => touchStart(card)}
      on:touchend={touchEnd}
    >
      {count}x {card.name}
      {#if card.prices.usd}
        ${(parseFloat(card.prices.usd) * count).toFixed(2)}
      {/if}
    </li>
  {/each}
  {#if inspected in $deck}
    <Inspect {...$deck[inspected]} on:exit={() => (inspected = null)} />
  {/if}
</ul>

<style>
  .deck {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
  .entry {
    height: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0.25rem;
  }
  .entry:nth-child(2n + 1) {
    background-color: white;
  }
  .entry:nth-child(2n) {
    background-color: lightgray;
  }
</style>
