:root {
  --primary-bg: #023047;
  --primary-fg: #ffffff;
  --secondary-bg: #010d14;
  --secondary-fg: #ffb703;
  --button-bg: #04334e;
  --title-height: 3rem;
  --title-font-size: 1.5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
