<script type="ts">
  import { createEventDispatcher } from "svelte";

  import { bestImage, Card } from "$lib/api";

  import { deck } from "$lib/stores";

  const dispatch = createEventDispatcher();

  export let card: Card;
  export let count: number | null = null;
</script>

<div class="modal no-select" on:click={() => dispatch("exit")}>
  {#if card.image_uris}
    <div class="face">
      <img src={bestImage(card)} alt={card.name} />
    </div>
  {:else}
    {#each card.card_faces as face, idx}
      <div class="face">
        <img src={bestImage(face)} alt={`${card.name} face ${idx}`} />
      </div>
    {/each}
  {/if}
  {#if count !== null}
    <div class="menu">
      <div
        class="btn menu-item"
        on:click|stopPropagation={() => deck.add(card)}
      >
        +
      </div>
      <div class="menu-item">{count}x</div>
      <div
        class="btn menu-item"
        on:click|stopPropagation={() => deck.remove(card)}
      >
        -
      </div>
    </div>
  {/if}
</div>

<style>
  .modal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .menu {
    position: absolute;
    display: grid;
    background-color: var(--secondary-bg);
    padding: 0.5rem;
    border-radius: 0.5rem;
    gap: 0.5rem;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .menu-item {
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--secondary-fg);
    font-size: 2rem;
    vertical-align: middle;
    text-align: center;
  }
  .btn {
    background-color: var(--button-bg);
  }
  .face {
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 1rem;
  }
  .face > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
  }
  @media screen and (max-aspect-ratio: 5/7) {
    .modal {
      flex-direction: column;
    }
    .menu {
      bottom: 50%;
      left: 0.5rem;
      transform: translateY(50%);
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: initial;
    }
  }
</style>
