<script type="ts">
  import { queryFields, QueryFieldsStore } from "$lib/stores";
  import { createEventDispatcher, onMount } from "svelte";
  import {
    ColorFilter,
    colorQuery,
    COLORS,
    Format,
    formatQuery,
    MajorType,
    majorTypeQueries,
    manaCostQuery,
    ManaCostType,
  } from "$lib/api";

  const dispatch = createEventDispatcher();

  function submit() {
    if (query.q.length > 0) {
      dispatch("search", query);
    }
  }

  export let query = { q: "", order: "cmc", dir: "asc", page: 1 };

  queryFields.subscribe((f) => {
    let q = [];
    if (f.colors.length > 0) {
      q.push(colorQuery(f.colorFilter, f.colors));
    }
    if (f.majorTypes.length > 0) {
      q.push(...majorTypeQueries(f.majorTypes));
    }
    if (f.manaCost.length > 0) {
      q.push(manaCostQuery(f.manaCostType, f.manaCost));
    }
    if (f.format) {
      q.push(formatQuery(f.format));
    }
    if (f.extra) {
      q.push(f.extra);
    }
    query.q = q.join(" ");
  });

  onMount(submit);
  onMount(() => queryFields.persist("query", QueryFieldsStore.default()));
</script>

<form on:submit|preventDefault={submit}>
  <input
    id="raw-query"
    data-testid="raw-query"
    type="text"
    name="raw"
    bind:value={query.q}
    disabled
  />
  <legend for="search">Search</legend>
  <input
    id="search"
    type="text"
    bind:value={$queryFields.extra}
    placeholder="Full Text Search"
    autocapitalize="off"
  />
  <br />
  <fieldset>
    <legend
      >Color
      <select bind:value={$queryFields.colorFilter}>
        {#each Object.values(ColorFilter) as filter}
          <option value={filter}>{filter}</option>
        {/each}
      </select>
    </legend>
    {#each COLORS as color}
      <input
        type="checkbox"
        bind:group={$queryFields.colors}
        value={color}
        data-testid={`color-${color}`}
      />{color}
    {/each}
  </fieldset>
  <fieldset>
    <legend>Type</legend>
    {#each Object.values(MajorType) as major}
      <input
        type="checkbox"
        bind:group={$queryFields.majorTypes}
        value={major}
      />{major}
    {/each}
  </fieldset>
  <label for="mana">Mana </label>
  <select bind:value={$queryFields.manaCostType}>
    {#each Object.values(ManaCostType) as filter}
      <option value={filter}>{filter}</option>
    {/each}
  </select>
  <input
    type="text"
    bind:value={$queryFields.manaCost}
    placeholder="Cost"
    autocapitalize="off"
  />
  <br />
  <label for="format">Format</label>
  <select id="format" bind:value={$queryFields.format}>
    <option value={null} />
    {#each Object.values(Format) as f}
      <option value={f}>{f}</option>
    {/each}
  </select>
  <br />
  <input id="submit" type="submit" name="submit" value="Search" />
</form>

<style>
  form {
    margin: 0.5rem;
  }
  fieldset {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
</style>
