<script type="ts">
  export let title: string;
</script>

<div class="container">
  <div class="title">{title}</div>
  <slot />
</div>

<style>
  .container {
    flex: 1 1 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;
  }
  .title {
    flex: 0 0 var(--title-height);
    font-size: var(--title-font-size);
    background-color: var(--primary-bg);
    color: var(--primary-fg);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
</style>
