<script type="ts">
  import Section from "$lib/Section.svelte";
  export let title;
  export let visible = false;
  function toggle() {
    visible = !visible;
  }
</script>

<div class="sidebar" class:visible>
  <div class="toggle" on:click={toggle}><div class="toggle-inner">≡</div></div>
  <Section bind:title>
    <slot />
  </Section>
</div>

<style>
  .sidebar {
    height: 100%;
    transition: all 0.5s ease 0s;
    background-color: whitesmoke;
  }
  .toggle {
    position: absolute;
    width: var(--title-height);
    height: var(--title-height);
    color: var(--secondary-fg);
    background-color: var(--secondary-bg);
    font-size: 2.5rem;
    top: 0;
    left: 100%;
    transition: transform 0.5s ease 0s;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .toggle-inner {
    transition: inherit;
  }
  .sidebar.visible > .toggle > .toggle-inner {
    transform: rotateZ(0.25turn);
  }
  .sidebar.visible > .toggle {
    transform: translateX(-100%);
  }
  @media screen and (orientation: portrait) {
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .sidebar:not(.visible) {
      transform: translateX(-100%);
    }
  }
  @media screen and (orientation: landscape) {
    .sidebar {
      flex: 1 0 38%;
    }
    .toggle {
      display: none;
    }
  }
</style>
