<script type="ts">
  import "$lib/global.css";
  import Sidebar from "$lib/Sidebar.svelte";
  import Query from "$lib/Query.svelte";
  import Cards from "$lib/Cards.svelte";
  import Deck from "$lib/Deck.svelte";
  import type { CardSearchQuery } from "$lib/api";

  let query: CardSearchQuery = null;
  let sidebarVisible = true;

  function search(e: CustomEvent<CardSearchQuery>) {
    query = { ...e.detail };
    sidebarVisible = false;
  }
</script>

<main>
  <Sidebar title="Query" bind:visible={sidebarVisible}>
    <div>
      <Query on:search={search} />
      <Deck />
    </div>
  </Sidebar>
  <Cards bind:query />
</main>

<style>
  main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
  }
  div {
    overflow-y: scroll;
  }
</style>
